
  .navbar {
    padding: 1rem;
  }
  
  .navbar-brand {
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    transition: border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
    margin-right: 20px;
  }

  .navbar-nav .nav-link:hover {
    color: rgb(207, 242, 32) !important;
    transition: all 0.5 ease-in-out;
    border-bottom: 2px solid rgb(207, 242, 32);
  }
